# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# added by Devin, for vscode
# build/ 表示忽略当前目录及子目录
# /window 表示仅忽略当前目录
build/ 
.vscode/
/window
/triangle_bak
*log*.txt